.accountpage-title {
    font-size: 1.8rem;
    font-weight: 600;
}

.accountpage-body {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    background-color: rgb(240, 241, 241);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.accountpage-avatar {
    width: 25%;
    border-radius: 10px;
    overflow: hidden;
}

.accountpage-avatar>div {
    padding-top: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.accountpage-content {
    flex: 1;
    padding: 50px 0 20px 50px;
    position: relative;
}

.account-name {
    margin-bottom: 80px;
}

.account-name p {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 2px;
}

.account-name span {
    font-size: 0.9rem;
    color: #636161;
    font-weight: 600;
}

.account-address {
    margin-bottom: 20px;
}

.account-address p {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 4px;
    color: #636161;
}

.account-address span {
    display: flex;
    align-items: center;
}

.account-icon {
    margin-right: 10px;
    font-size: 1.4rem;
}

.account-edit {
    position: absolute;
    top: 10px;
    right: 10px;
    color: deepskyblue;
    font-weight: 600;
}

.account-edit>span {
    margin-left: 16px;
}

.account-edit>span:hover {
    text-decoration: underline;
    transition: all ease 0.2s;
    cursor: pointer;
}

.verify-user {
    border-radius: 8px;
    min-width: 600px;
}

.modal_edit>p,
.verify-user>p {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}

.modal_edit--item,
.verify-user-item {
    display: flex;
    align-items: center;
}


.modal_edit--item>label,
.verify-user-item>label {
    width: 15%;
    font-size: 1rem;
    font-weight: 600;
    color: #636161;
}

.modal_edit--item {
    margin-top: 20px;
}

.modal_edit--item>input,
.verify-user-item>input {
    border-radius: 8px;
    flex: 1;
    outline: none;
    border-color: rgb(3, 63, 63);
}

.modal_edit--btns,
.verify-user-btns {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0 -12px;
    margin-top: 40px;
}

.modal_edit--btns>button,
.verify-user-btns>button {
    padding: 10px 30px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;
    margin: 0 12px;
}

.modal_edit--btns .ok,
.verify-user-btns .ok {
    background-color: aquamarine;
}

.modal_edit--btns .cancel,
.verify-user-btns .cancel {
    background-color: aliceblue;
}

.modal_edit {
    min-width: 40vw;
}

.avatar {
    flex-direction: column;
    align-items: start;
}

.avatar>label {
    margin-bottom: 12px;
}

.avatar>.avatar_img {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.avatar_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.progress {
    font-size: 1.2rem;
    font-weight: 600;
    color: #636161;
    margin: 20px 0;
}

.message-error {
    font-size: 1.2rem;
    margin-top: 12px;
    color: red;
}

.show-password {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.show-password>input {
    margin-right: 12px;
}

.show-password>span {
    font-size: 1rem;
}

.modal_edit_title {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
}

.modal_edit_pass_input {
    margin-bottom: 24px;
}

.modal_edit_pass_input>label {
    font-weight: 600;
    color: #636161;
}

.modal_edit_pass_input>input {
    margin-top: 10px;
    width: 100%;
    border-radius: 6px;
}

.modal_edit_pass_btns {
    display: flex;
    align-items: center;
    justify-content: end;
}

.modal_edit--btn {
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 600;
}

.modal_edit--btn.cancel {
    border: 2px solid #333;
    margin-left: 20px;
}

.modal_edit--btn.ok {
    background-color: aquamarine;
}