.addchair-container {
    display: flex;
    min-height: 100vh;
    position: relative;
}

.btn-back {
    position: absolute;
    top: 20px;
    left: 20px;
}

.btn-back-link {
    display: flex;
    align-items: center;
    color: aquamarine;
    font-weight: 600;
}

.btn-back-link>.btn-back-link-icon {
    font-size: 1.8rem;
    margin-right: 12px;
}

.btn-back-link>span {
    font-size: 1.4rem;
}

.addchair {
    height: 100vh;
    margin: auto;
    padding: 20px;
    background-color: rgb(240, 241, 241);
    border-radius: 8px;
}

.addchair-title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.addchair-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

}

.addchair-item label {
    width: 200px;
    font-size: 1rem;
    color: #646464;
    font-weight: 600;
}

.addchair-item input {
    border-radius: 10px;
    outline: none;
    width: 400px;
}

.showchair {
    width: 200px;
    height: 180px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.showchair img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.err-img {
    font-size: 1rem;
    color: red;
    margin-top: 10px;
    margin-bottom: 20px;
}

.err-addchair {
    color: red;
    margin-top: 10px;
    font-size: 1rem;
}

.btn-addchair {
    border-radius: 4px;
    padding: 8px 20px;
    background-color: aquamarine;
    font-weight: 600;
    margin-top: 20px;
}

.btn-addchair:hover {
    transition: all ease 0.2s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.addchair-more {
    display: none;
}

.addchair-more-item {
    width: 50%;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
}

.addchair-more.active {
    display: flex;
    margin: 12px -12px 20px 20px;
}


.btn-close-morechair {
    display: none;
}


.btn-close-morechair.active {
    display: block;
    margin-bottom: 30px;
}

.show-more-statuschair {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.statuschair-icon {
    font-size: 1.2rem;
    margin-right: 20px;
}

.morechair_btns {
    display: flex;
    align-items: center;
}

.btn-close-morechair {
    font-weight: 600;
}

.btn-close-morechair.active:first-child {
    margin-right: 20px;
    border: 2px solid #555454;
    color: #555454;
}

.btn-close-morechair.active:last-child {
    background-color: #555454;
    color: white;
}