.chairpage-title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.chairpage-cards {
    display: flex;
    align-items: center;
    margin: 0 -16px;
    flex-wrap: wrap;
}

.chairpage-card-item {
    width: 25%;
    padding: 0 16px;
    margin-bottom: 20px;
}

.img_nochair {
    display: flex;
    align-items: center;
    width: 100vw;
}

.img_nochair>img {
    width: 500px;
    margin: auto;

}