.chairdetail {
    margin-top: 20px;
    border-radius: 12px;
    padding: 12px;
    background-color: rgb(240, 241, 241);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


.chair-info-more>p,
.chair-infos>span {
    font-size: 1rem;
    font-weight: 600;
    color: #525151;
}

.chair-info-more {
    margin-left: 30px;
}


.chair-info-morechair-num,
.chair-info-morechair-desc,
.chair-info-morechair {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.chair-info-morechair-num>span,
.chair-info-morechair-desc>span {
    margin-left: 6px;
}

.chair-info-morechair-desc {}

.chair-info-morechair-num {
    margin-right: 50px;
}

.slider {
    border-radius: 12px;
    overflow: hidden;
    height: 60vh;
}

.slider div {
    height: 100%;
}

.slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chairdetail-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 12px;
}

.chaircontent {
    margin-top: 16px;
}

.namechair {
    font-size: 1.6rem;
    font-weight: 600;
    color: #525151;
}

.pricechair {
    font-size: 1.2rem;
    font-weight: 600;
    color: red;
}

.chair-infos {
    margin-top: 60px;
    flex-wrap: wrap;
}

.chair-info {
    display: flex;
    align-items: center;
    padding: 12px 0;
}

.chair-info>p {
    font-size: 1rem;
    font-weight: 600;
    color: #4d4c4c;
    margin-right: 8px;
}

.chair-info>span {
    font-size: 1rem;
    font-weight: 600;
}

.chair-tool {
    margin-top: 50px;
}

.chair-tool-admin button,
.chair-tool-user button {
    padding: 8px 30px;
    font-size: 1rem;
    border-radius: 8px;
    font-weight: 600;
    background-color: rgb(10, 137, 211);
    color: white;
}


.exportchair-model {
    min-width: 600px;
}

.exportchair-model>p {
    font-size: 1.6rem;
    font-weight: 600;
}

.exportchair-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.exportchair-item>label {
    width: 20%;
    font-size: 1rem;
    font-weight: 600;
    color: #525151;
}

.exportchair-item>input {
    flex: 1;
    outline: none;
    border-radius: 8px;
}

.exportchair-btn {
    margin-top: 40px;
}


.exportchair-total {
    border: none;
    font-weight: 600;
    color: red;
}

.btn-modal-caculator {
    background-color: aquamarine;
    margin-bottom: 12px;
    margin-top: 20px;
}

.exportchair-btn .disable {
    opacity: 0.5;
}

.exportchair-btn .disable:hover {
    opacity: 0.5;
}

.admin-content {
    display: flex;
    align-items: center;
}

.admin-content>img {
    width: 20px;
    height: 20px;
    border-radius: 1000px;
    overflow: hidden;
    object-fit: cover;
    margin-right: 12px;
}

.admin-content>span {
    font-size: 1rem;
    font-weight: 600;

}