.home-page {
    min-height: 100vh;
}

.home-page>.title {
    margin-top: 50px;
}

.revenuehome-title {
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #686666;
}

.home-page>p {
    font-size: 1.8rem;
    font-weight: 600;
}

.home-dash {
    display: flex;
    align-items: center;
    margin: 0 -12px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.home-dash-item {
    padding: 0 12px;
    width: 33%;
}

.chart {
    width: 100%;
    height: 50vh;
}