.home-page {
    min-height: 100vh;
}

.home-page>p {
    font-size: 1.8rem;
    font-weight: 600;
}

.home-dash {
    display: flex;
    align-items: center;
    margin: 0 -12px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.home-dash-item {
    padding: 0 12px;
    width: 33%;
}