/* btn */
.btns-manager {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 20px;
}

.btn-manager {
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    color: white;
}

.btn-manager.add-chair {
    margin-right: 30px;
    background-color: rgb(67, 182, 218);
}

.btn-manager.add-chair:hover {
    transition: all ease 0.2s;
    background-color: rgb(49, 174, 212);
}

.btn-manager.add-table {
    background-color: #1fb878;
}

.btn-manager.add-table:hover {
    transition: all ease 0.2s;
    background-color: #3fce92;
}

.btn-manager:hover {}


/* tab */

.tab-manager {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.tab-manager-item {
    font-size: 1.2rem;
    padding: 6px 50px;
    cursor: pointer;
}

.tab-manager-item:hover {
    font-weight: 600;
    background-image: linear-gradient(to top, rgb(115, 250, 250), rgb(232, 244, 255));
    border-bottom: 2px solid rgb(1, 226, 226);
    color: rgb(66, 66, 66);
    transition: all ease 0.2s;
}

.tab-manager-item.active {
    font-weight: 600;
    background-image: linear-gradient(to top, rgb(115, 250, 250), rgb(232, 244, 255));
    border-bottom: 2px solid rgb(1, 226, 226);
    color: rgb(66, 66, 66);
}












/* chair */
.chaircomp-content-header {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 6px 10px;
    border-radius: 6px;
    background-color: aliceblue;
    margin-bottom: 8px;
    margin-top: 20px;
}

.chaircomp-content-header-item {
    font-weight: 600;
}

.chaircomp-content-header-item.stt {
    width: 10%;
}

.chaircomp-content-header-item.name {
    flex: 1;
}

.chaircomp-content-header-item.quantity-left,
.chaircomp-content-header-item.quantity-sold,
.chaircomp-content-header-item.quantity {
    width: 12%;
}

.chaircomp-content-header-item.color {
    width: 10%;
}

.chaircomp-content-header-item.datein {
    width: 18%;
}

.chaircomp-content-header-item.tool {
    width: 10%;
}


.chaircomp-content-body {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #d3d3d3;
}

.chaircomp-content-body:hover {
    border-radius: 6px;
    transition: all ease 0.2s;
    background-color: rgb(221, 221, 221);
}

.chaircomp-content-body-item {
    font-size: 1rem;
}

.chaircomp-content-body-item.stt {
    width: 10%;
}

.chaircomp-content-body-item.name {
    flex: 1;
    font-weight: 600;
}

.chaircomp-content-body-item.name:hover {
    cursor: pointer;
    text-decoration: underline;
}


.chaircomp-content-body-item.quantity-left,
.chaircomp-content-body-item.quantity-sold,
.chaircomp-content-body-item.quantity {
    width: 12%;
}

.chaircomp-content-body-item.color {
    width: 10%;
}

.chaircomp-content-body-item.datein {
    width: 18%;
}

.chaircomp-content-body-item.tool {
    width: 10%;
}

.chaircomp-content-body-item>.edit-chaircomp {
    color: rgb(24, 163, 206);
    font-weight: 600;
    font-size: 1rem;
    margin-right: 40px;
}

.chaircomp-content-body-item>.edit-chaircomp:hover {
    text-decoration: underline;
    transition: all ease 0.2s;
}

.chaircomp-content-body-item.tool {
    display: flex;
    align-items: center;
}

.chaircomp-content-body-item>span {
    color: red;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 16px;
}

.optionChair {
    position: relative;
}

.optionChair>p {
    color: rgb(24, 163, 206);
    font-size: 1rem;
    font-weight: 600;
}


.optionChair>p:hover,
.chaircomp-content-body-item>span:hover {
    text-decoration: underline;
    transition: all ease 0.2s;
    cursor: pointer;
}


.optionChair-body {
    z-index: 10;
    position: absolute;
    display: none;
    top: -3px;
    right: 100%;
    background-color: #f0f0f0;
    border-radius: 6px;
    min-width: 300px;
}

.optionChair-body.active {
    display: flex;
    flex-direction: column;
}

.optionChair-item {
    padding: 10px 0px 10px 10px;
    font-size: 1rem;
}

.optionChair-item:hover {
    transition: all ease-in 0.2s;
    background-color: #dfdfdf;
    padding-left: 14px;
}

/* table */