.notify-content {
    margin-top: 20px;
}

.notifyProduct {
    background-color: azure;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-bottom: 20px;
}

.notifyProduct-body {
    padding: 18px;
}

.notifyProduct-head {
    display: flex;
    align-items: center;

}

.notifyProduct-head>img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 1000px;
    overflow: hidden;
    margin-right: 20px;
}

.notifyProduct-title {
    font-size: 1.2rem;
    font-weight: 600;
}

.notifyProduct-title>span {
    color: #5c5b5b;
    margin-left: 10px;
}

.notifyProduct-info {
    margin-top: 50px;
}

.notifyProduct-info>p {
    font-size: 1.3rem;
    font-weight: 600;
    color: #777777;
    margin-bottom: 20px;
}

.notifyProduct-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.notifyProduct-info-item>p {
    font-size: 1rem;
    font-weight: 600;
    margin-right: 10px;
    width: 200px;
}

.notifyProduct-info-item img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    overflow: hidden;
    object-fit: cover;
}

.notifyProduct-info-btns {
    margin-top: 40px;
}

.notifyProduct-info-btn {
    padding: 10px 20px;
    border-radius: 6px;
    outline: none;
    font-size: 1.1rem;
    font-weight: 600;
}

.notifyProduct-info-btn.ok {
    background-color: rgb(1, 226, 226);
    margin-right: 20px;
}

.notifyProduct-info-btn.cancel {
    background-color: #777777;
    color: white;
}

.notifyProduct-info-btn.ok:hover {
    background-color: rgb(9, 199, 199);
    transition: all ease 0.2s;
}

.notifyProduct-info-btn.cancel:hover {
    background-color: #555555;
    transition: all ease 0.2s;
}

.tab-manager-item{
    position: relative;
}

.tab-manager-item>span{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 0.9rem;
    color: white;
    padding: 3px 8px;
    border-radius: 1000px;
    background-color: red;
}