.sign-in {
    height: 100vh;
    background: linear-gradient(to top, #86B6F6, #B4D4FF);
    display: flex;
}

.signin-title {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
}

.sign-in form {
    margin: auto;
    padding: 20px;
    min-width: 550px;
    border-radius: 12px;
    background-color: white;
}

.form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-item label {
    margin-bottom: 3px;
    font-weight: 600;
    color: #304868;
}

.form-item input {
    border-radius: 10px;
    outline: none;
}

.btn-signup {
    margin-top: 70px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: #333;
    background-color: #B4D4FF;
}

.btn-signup:hover {
    color: white;
    transition: all ease 0.2s;
    cursor: pointer;
    background-color: #86B6F6;
}

.suggest-signup {
    text-align: center;
    margin-top: 6px;
}

.suggest-signup a {
    color: #86B6F6;
}

.suggest-signup a:hover {
    text-decoration: underline;
    transition: all ease 0.2s;
    font-weight: 600;
}